.found-markers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .found-marker {
        z-index: 1;
        position: absolute;
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 4px #4abdc1;
        border: 4px solid var(--blue);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -khtml-border-radius: 50%;
        background-color: #c9fdff44;
    }
}