$height: 600vh;
$width: calc($height * 1.79372197309);
$cursor-color: #48a55c;

// custom cursor classes:
.right-arrow {
    cursor: url('../img/right-arrow.png'), auto;
}

.left-arrow {
    cursor: url('../img/left-arrow.png'), auto;
}

.up-arrow {
    cursor: url('../img/up-arrow.png'), auto;
}

.down-arrow {
    cursor: url('../img/down-arrow.png'), auto;
}

.garden {
    position: relative;
    height: $height;
    width: $width;

    .grid {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(50, 1fr);
        grid-template-columns: repeat(100, 1fr);
    }

    .painting-container {
        height: 100%;
        width: 100%;

        .painting-itself {
            height: 100%;
            width: 100%;
        }
    }
}