$height: 600vh;
$width: calc($height * 1.79372197309);
$site-green: #48a55c;

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// custom cursor classes:
.right-arrow {
    cursor: url('../img/right-arrow.png'), auto;
}

.left-arrow {
    cursor: url('../img/left-arrow.png'), auto;
}

.up-arrow {
    cursor: url('../img/up-arrow.png'), auto;
}

.down-arrow {
    cursor: url('../img/down-arrow.png'), auto;
}

.garden {
    background-color: black;
    position: relative;
    height: $height;
    width: $width;

    .painting-container {
        height: 100%;
        width: 100%;

        .painting-itself {
            opacity: 0;
            animation: 4s ease-in-out 0s fadeIn forwards;
            height: 100%;
            width: 100%;
        }
    }
}