.legend {
    z-index: 2;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--site-green);
    font-size: calc(var(--rvv));
    background-color: #ddffe3e4;
    padding: 10px 10px 5px;
    border: 3px solid var(--site-green);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .legend-images {
        display: flex;
        justify-content: center;
        gap: 30px;

        .legend-image {
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: transform 0.2s ease-in-out;
    
            img {
                width: 120px;
                max-height: 100%;
            }
        }

        .legend-image:hover {
            transform: scale(1.05);
        }
    }
}