.pop-up {
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 4px #48a55cc5;
    border: 4px solid #c5ffcfaa;
    border-radius: 50%;

    .choices {
        position: absolute;
        right: 110%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 15px;

        .option {
            cursor: pointer;
            background-color: #ddffe3d7;
            padding: 3px;
            border: 2px solid var(--site-green);
            border-radius: 5px;
            font-size: calc(0.7*var(--rvv));
            color: var(--site-green);
            transition: transform 0.2s ease-in-out;
        }

        .option-image {
            max-width: 100px;
            max-height: 75px;
        }

        .option:hover {
            transform: scale(1.05);
        }
    }
}