@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.time-display {
    font-family: 'Cerne';
    z-index: 2;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: 3s ease-in-out 0s fadeIn forwards;

    .time-text {
        color: var(--green);
        text-align: center;
        font-size: calc(var(--rvv));
        background-color: #ddffe3d5;
        padding: 10px 10px 5px;
        border: 3px solid var(--green);
        border-radius: 10px;
    }
}