.time-display {
    z-index: 2;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .time-text {
        color: var(--site-green);
        text-align: center;
        font-size: calc(var(--rvv));
        background-color: #ddffe3d5;
        padding: 10px 10px 5px;
        border: 3px solid var(--site-green);
        border-radius: 10px;
    }
}