@keyframes openLeft {
    0% {
    }
    100% {
        transform-origin: left;
        transform: rotateY(-180deg);
    }
}

@keyframes openRight {
    0% {
    }
    100% {
        transform-origin: right;
        transform: rotateY(180deg);
    }
}

.welcome-screen {
    position: relative;
    background-color: white;
    background-image: url('../img/welcome-bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    .panels {
        z-index: -1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 2px;
        opacity: 0;
        animation: 1.5s linear 0s fadeIn forwards;

        .panel {
            backface-visibility: hidden;
            height: 100%;

            img {
                height: 100%;
            }
        }

        .open-left {
            animation: 5s linear openLeft forwards;
        }

        .open-right {
            animation: 5s linear openRight forwards;
        }
    }

    .messages {
        font-family: 'Beowulf';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;

        .message {
            margin: 0 calc(var(--rvv));
            font-size: calc(var(--rvv));
            padding: 15px 15px 5px;
            text-align: center;
            width: fit-content;
            opacity: 0;
        }

        .wheres-bosch,
        .click-to-begin {
            font-family: 'Cerne';
            color: var(--darker-green);
            background-color: var(--yellow);
            border: 3px solid var(--darker-green);
        }

        .message-1,
        .message-3 {
            color: var(--green);
            border: 3px solid var(--green);
            background-color: #ddffe3f4;
        }

        .message-2,
        .message-4 {
            color: var(--blue);
            border: 3px solid var(--blue);
            background-color: #c9fdfff1;
        }

        .wheres-bosch {
            font-size: calc(2*var(--rvv));
            animation: 2s ease-in-out 3s fadeIn forwards;

            .bosch-portrait {
                height: 100px;
            }
        }

        .message-1 {
            animation: 2s ease-in-out 6s fadeIn forwards;
        }

        .message-2 {
            animation: 2s ease-in-out 8s fadeIn forwards;
        }

        .message-3 {
            animation: 2s ease-in-out 10s fadeIn forwards;
        }

        .message-4 {
            animation: 2s ease-in-out 12s fadeIn forwards;
        }

        .click-to-begin {
            border-radius: 25px;
            cursor: pointer;
            animation: 2s ease-in-out 14s fadeIn forwards;
            font-size: calc(1.5*var(--rvv));
            transition: transform 0.2s ease-in-out;
        }

        .click-to-begin:hover {
            transform: scale(1.05);
        }
    }
}