@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

$chart-gap: calc(0.5*var(--rvv));

.win-screen {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;

    .win-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-image: url('../img/win-screen-bg.jpg');
        background-size: cover;
        opacity: 0;
        animation: 3s ease-out 0s fadeIn forwards;
    }

    .win-details,
    .all-times {
        z-index: 1;
        width: 20vw;
        min-width: 300px;
        position: relative;
        top: 15vh;
        left: calc(10%);
        transform: translateX(-10%); 
        font-family: 'Novelist';
        color: var(--site-blue);
        background-color: #c9fdffc4;
    }

    .win-details {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: calc(0.6*var(--rvv));
        padding: 10px 10px 5px;
        border: 3px solid var(--site-blue);
        border-radius: 10px;
    }

    .all-times {
        position: relative;
        font-size: calc(0.6*var(--rvv));
        padding: 10px 10px 5px;
        border: 3px solid var(--site-blue);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .time-entry {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "rank name time";
            column-gap: $chart-gap;

            .rank-label {
                text-align: center;
            }
            
            .rank-label,
            .name-label,
            .time-label {
                text-decoration: underline;
            }

            .rank {
                grid-area: rank;
                text-align: center;
            }

            .name {
                grid-area: name;
            }

            .time {
                grid-area: time;
            }
        }
    }

    .bosch-portrait {
        max-width: 70vw;
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: 70vh;
        transform: translateX(100%);
        animation: 1.8s ease-in-out 0.4s slideIn forwards;
    }
}

// on smaller screens, center the win details:

@media screen and (max-width: 1000px) {

    .win-screen {

        .win-details,
        .all-times {
            left: calc(50%);
            transform: translateX(-50%);
        }
    }
}